# Geo Coding using Python

In [ ]:
import pandas
from geopy.geocoders import Nominatim

# Cordinates Using for loop

In [8]:
#Importing files with address
df = pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [51]:
#Addin latitude and longitude using for loop
for x in range(len(df.index)):
    addr = list(df.iloc[x,1:4])
    code = nom.geocode(str(addr))
    if code != None:
        df.ix[x,"latitude"] = code.latitude
        df.ix[x,"longitude"] = code.longitude
    else:
        df.ix[x,"latitude"] = "N/A"
        df.ix[x,"longitude"] = "N/A"
df

,ID,Address,City,State,Country,Name,Employees,latitude,longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,37.7565,-122.429
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,N/A,N/A
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,37.7557,-122.429
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,37.753,-122.432
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,37.7521,-122.43
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,37.7537,-122.433

# Cordinates Using apply and Lambda function

In [53]:
new_df = pandas.read_csv("supermarkets.csv")
new_df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [60]:
#Concatinating full address in one column
new_df["Full Address"] = new_df["Address"]+", "+new_df["City"]+", "+new_df["State"]

#Adding a new columns which will store the coordinates of the location
new_df["coordinates"] = new_df["Full Address"].apply(nom.geocode)

#Adding latitude and longitude columns to the existing dataframe
new_df["latitude"]=new_df["coordinates"].apply(lambda x: x.latitude if x!= None else None)
new_df["longitude"]=new_df["coordinates"].apply(lambda x: x.longitude if x!= None else None)

#Printing the result
new_df

,ID,Address,City,State,Country,Name,Employees,Full Address,coordinates,latitude,longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114","(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119",None,NaN,NaN
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114","(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220